{% for concert in featured_box.all %}

{% endfor %}

<div>
    <h2><a href="/new-works">New Works</a></h2>
    <div class="fimage"><img src="http://cyo.ftwgroup.com/media/medialibrary/2012/03/s17NewWorksSmall.jpg" alt="" /></div>
    <ul>
        <li>{{ featured_content.concert_datetime.date }}</li>
        <li>Liquid Melancholy</li>
    </ul>
    <a href="http://cyorchestra.org"><button class="ticket-button">Get Tickets!</button></a>
</div>
<div>
    <h2><a href="/music-and-its-industry">Music and Its Industry</a></h2>
    <div class="fimage"><img src="http://cyo.ftwgroup.com/media/medialibrary/2012/03/2012-miaaMed.jpg" alt="" /></div>
    <ul>
        <li>March 2012</li>
        <li>Cartunestra!</li>
    </ul>
    <a href="http://cyorchestra.org/tickets"> <button class="ticket-button">Get Tickets!</button></a>
</div>
<div class="feature_box">
    <h2><a href="/rock-the-orchestra">Rock the Orchestra</a></h2>
    <div class="fimage"><img src="http://cyo.ftwgroup.com/media/medialibrary/2012/03/2012-blamesalley.jpg" alt="" /></div>
    <ul>
        <li>May/June 2012</li>
        <li>Blame Sally</li>
    </ul>
    <a href="http://cyorchestra.org"><button class="ticket-button">Get Tickets!</button></a>
</div>