{% extends 'repertoire/rep_base.html' %}
{# queryset = Performer objects #}
{% block main_content %}
    <h2>Grouped by Composer</h2>

        {% for composer in repertoire_list %}
            <table>
                <thead>
                    <tr class="table-title"><td colspan="2">
                        <h3><a href="{{ composer.get_absolute_url }}">{{ composer.first_name }} {{ composer.last_name }}</a> <small><em>({{ composer.birth_year }}-{% if composer.death_year %}{{ composer.death_year }}{% else %}Current{% endif %})</em></small></h3>
                    </td></tr>
                </thead>
                <tbody>
                {% for song in composer.song_set.all %}
                    {% for ps in song.performedsong_set.all %}
                        <tr>
                            <td><a href="{{ song.get_absolute_url }}">{{ song.title }}</a></td>
                            <td><a href="{{ ps.concert.get_absolute_url }}">{{ ps.concert.title }}</a></td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}

    {# .... **Now the pagination section** .... #}
    {% if is_paginated %}
    <br>
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url by-composer %}?page={{ page_obj.previous_page_number }}"><small><em>previous</em></small></a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url by-composer %}?page={{ page_obj.next_page_number }}"><small><em>next</em></small></a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}
