
            {% for concert in repertoire_list %}
                <div><h2>{{ concert.title }}</h2>
                    <table>
                        {% for ps in concert.performedsong_set.all %}
                            <tr>
                                <td>{{ ps.song.title }}</td>
                                <td>{{ ps.song.composer }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}
