{% extends 'repertoire/concert_base.html' %}
    {# queryset = Performer objects #}
        {% block main_content %}
            <h2>Grouped by Composer</h2>
                {% for composer in repertoire_list %}
                    <div><h3>{{ composer.first_name }} {{ composer.last_name }}</h3>
                        <table>
                            {% for song in composer.song_set.all %}
                                {% for ps in song.performedsong_set.all %}
                                <tr>
                                    <td>{{ song.title }}</td>
                                    <td>{{ ps.concert.title }}</td>
                                </tr>
                                {% endfor %}
                            {% endfor %}
                        </table>
                    </div>
                {% endfor %}
        {% endblock %}
