{% extends 'repertoire/rep_base.html' %}
{% block main_content %}
        <table>
            {% for concert in repertoire_list %}
                <tr><td><h2>{{ concert.title }}</h2></td></tr>
                {% for concertsong in concert.concertsong_set.all %}
                    <tr>
                        <td>{{ concertsong.song.title }}</td>
                        <td>{{ concertsong.song.composer }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
                </table>
{% endblock %}
