{% extends concert_base.html %}

        {% block main_content %}
            <h1>CYO Repertoire</h1>
            {% for concert in concert_list %}
                <div><h2>{{ concert.title }}</h2>
                    <table>
                        {% for concertsong in concert.concertsong_set.all %}
                            <tr>
                                <td>{{ concertsong.song.title }}</td>
                                <td>{{ concertsong.song.composer }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}
        {% endblock %}

