<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Music Repertoire | Contemporary Youth Orchestra - proudly in residence at Cleveland State University</title>
    <meta name="description" content="A world-class orchestra">
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.gif" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/grid.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/repertoire.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/fxns.js"></script>
    {% block extra_head %}
    {% endblock %}
</head>
<body>
<div class="row">
    <a href="/"><div class="column grid_250" id="logo"></div></a>
    <div id="navigation">
        <navigation>
        </navigation>
    </div>
    <div id="searchbox">
        {% block search_box %}
            <form name="input" action="some_link" method="post">
                <input type="text" class="box" name="searchbox" value="Search" />
            </form>
        {% endblock %}
    </div><!--searchbox-->
</div>

<div class="row">
    <div class="column grid_738" id="repertoire-container" style="background:#fff;">
        {% block main_content %}
            <h1>CYO Repertoire</h1>
            {% for concert in concert_list %}
                <div>
                    <table>
                        {% for composer in composer_list.songs.all %}
                            <tr>
                                <td>{{ song.title }}</td>
                                <td>{{ song.composer }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}
        {% endblock %}
    </div>
    <div class="column grid_242" id="sidebar">
        {%  block sidebar-common %}
            <span id="season">season</span><span id="season-number"><a href="/concerts">17</a></span>
        {% endblock %}
        <div class="row">
            <div class="column grid_242" id="sidebar-details">
                <ul>
                    {% for p in sublevel %}
                    {% endfor %}
                </ul>
                <ul>
                    {% for p in sublevel %}
                    {% endfor %}
                </ul>
                {% block sidebar %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="column grid_1000" id="footer">
        {% block footer %}
            <ul>
                <li><!--TODO (stephen) fix the (c) to unicode-->©2011-2012 Contemporary Youth Orchestra |&nbsp;</li>
                <li>(216) 321-3525 |&nbsp;</li>
                <li><a href="/contact" class="hover-yellow">Contact</a> |&nbsp;</li>
                <li><a href="#" class="hover-yellow">Search</a></li>
                <li><a href="http://www.facebook.com/ContemporaryYouthOrchestra" target="_blank"><img src="{{ STATIC_URL }}images/social_facebook.png"></a></li>
                <li><a href="http://twitter.com/LizaGrossmanCYO" target="_blank"><img src="{{ STATIC_URL }}images/social_twitter.png"></a></li>
                <li><a href="http://www.youtube.com/user/CYOrchestra?feature=watch" target="_blank"><img src="{{ STATIC_URL }}images/social_youtube.png"></a></li>
                {% if user.is_authenticated %}<li> | <a href="/admin">Admin Section</a></li>{% endif %}
            </ul>
        {% endblock %}
        {% block extend-footer %}<span id="footer-extend">Contribute, <a href="/donate" target="_blank">Donate to CYO!</a></span>{% endblock %}
    </div></div>
</body>
</html>
