{% extends 'repertoire/rep_base.html' %}
{# model = Song #}
        {% block main_content %}
                <div><h2>{{ song.title }}</h2>
                    <h3>Composer: <a href="{{ song.composer.get_absolute_url }}">{{ song.composer.first_name }} {{ song.composer.last_name }}</a></h3>
                    <br />
                    {{ song.description|linebreaks }}
                    <table>
                    	<th><h3>Performed During:</h3></th>
                        {% for ps in song.performedsong_set.all %}
                            <tr>
                                <td><a href="{{ ps.concert.get_absolute_url}}">{{ ps.concert.title }}</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
        {% endblock %}