{% extends 'repertoire/rep_base.html' %}
{# model = Song #}
        {% block main_content %}
                <div><h2>{{ song.title }}, {{ song.composer.first_name }} {{ song.composer.first_name }}</h2>
                    <table>
                        {% for concertsong in concert.concertsong_set.all %}
                            <tr>
                                <td>{{ concertsong.title }}</td>
                                <td>{{ concertsong.song.composer }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
        {% endblock %}