{% extends 'site_base.html' %}
{% load feincms_tags %}
<!-- TODO (Ipsheeta) add extra media tags http://www.feinheit.ch/media/labs/feincms/contenttypes.html#extra-media-for-content-types -->
{% block extra_head %}
    {{ feincms_page.content.media }}
{% endblock %}

{% block style %}background: white;{% endblock %}
{% block main_content %}
    <h1>{{ feincms_page.content_title }}</h1>
    <div class="row">
        <div class="column grid_738 whitebox">
            <h2>{{ feincms_page.content_subtitle }}</h2>
            <div class="article-thumbnail">{% feincms_render_region feincms_page "images" request %}</div>
            <div class="split-right">{% feincms_render_region feincms_page "content" request %}</div>
        </div>
    </div>
{% endblock %}
{% block sidebar %}
    {% feincms_render_region feincms_page "sidebar" request %}
{% endblock %}