        <h1>{{ concert.series.title }}</h1>
        <div class="row">
            <div class="column grid_728 yellowbox">
                <div class="concert_leftCol">
                    <ul>
                        <li>{{ concert.featured_artist }}</li>
                        <li>{{ concert.poster }}</li>
                        <li>{{ concert.date_time }}</li>
                        <li>{{ concert.location }}</li>
                    </ul>
                    <a href="/tickets/" id="purchase-tickets">Purchase Tickets</a>
                </div>
                <div class="concert_rightCol">
                    <h2>Upcoming</h2>
                <span class="yellowBox" id="season-description">
                {{ concert.description }}
                </span>
                </div>
            </div>
        </div>
