{% extends 'site_base.html' %}
{% load feincms_tags %}

<!-- TODO (Ipsheeta) add extra media tags http://www.feinheit.ch/media/labs/feincms/contenttypes.html#extra-media-for-content-types -->
<!-- TODO (Julian) this page needs a main content that pulls from what ipsheeta is building. -->

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/generic.css"/>
    {{ feincms_page.content.media }}
{% endblock %}

{% block titles %}{% endblock %}
{% block main_content %}
    {% feincms_render_region feincms_page "content" request %}
{% endblock %}

{% block sidebar %}
    {% feincms_render_region feincms_page "concert_sidebar" request %}
{% endblock %}
