{% extends 'site_base.html' %}
{% load feincms_tags %}

<!-- TODO (Ipsheeta) add extra media tags http://www.feinheit.ch/media/labs/feincms/contenttypes.html#extra-media-for-content-types -->
<!-- TODO (Julian) this page needs a main content that pulls from what ipsheeta is building. -->

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/concert.css" />
    <script type="text/javascript">
        $(document).ready(function(){
            $(".zebra tr").mouseover(function(){$(this).addClass("over");}).mouseout(function(){$(this).removeClass("over");});
            $(".zebra tr:even").addClass("alt");
        });
    </script>
    {{ feincms_page.content.media }}
{% endblock %}

{% block style %}background: white;{% endblock %}
{% block main_content %}
    <!--TODO make links -->
    <div class="concert_tabs">
        <ul>
            <li>New Works</li>
            <li>Music and Its Industry</li>
            <li>Rock the Orchestra</li>
        </ul>
    </div>
    <h1>{{ feincms_page.title }}</h1>
    <!-- TODO (julian) to make this div render right we need to divs of the appropriate width -->
    <div class="row">
        <div class="column grid_728 yellowbox" id="concert_container">
            <div class="concert_leftCol">
                <div class="artist_plate">
                    <p><span class="artist_name">Liza Grossman</span>, <span class="artist_title">music director</span> &gt;</p>
                </div>
                <div class="event-details">
               {% feincms_render_region feincms_page "concert_details" request %}
                </div>
            </div>
            <div class="concert_rightCol">
            <h2>{{ feincms_page.content_subtitle }}</h2>
                <span class="yellowBox" id="season-description">
                    {% feincms_render_region feincms_page "concert_abstract" request %}
                </span>
            </div>

            <!--
            TODO (stephen) [within yellow overview, create two divs (styles already accounted for)
            -->
        </div>
    </div>

    <div class="row">
        <div class="column grid_738 whitebox">
            {% feincms_render_region feincms_page "content" request %}
        </div>
    </div>
{% endblock %}
{% block sidebar %}
    {% feincms_render_region feincms_page "concert_sidebar" request %}
{% endblock %}