{% extends 'concert_info.html' %}
{% load feincms_tags %}

{% block main_content %}
    <div class="concert_tabs">
        <ul>
            <li><a href="/new-works">New Works</a></li>
            <li><a href="/music-and-its-industry">Music and Its Industry</a></li>
            <li><a href="/rock-the-orchestra">Rock the Orchestra</a></li>
        </ul>
    </div>
    <h1 class='concerth1'>{{ feincms_page.title }}</h1>
    <div class="row">
        <div class="column grid_728 yellowbox" id="concert_container">
            <div class="concert_leftCol">
                {% feincms_render_region feincms_page "ConcertThumbnail" request %}
                {% feincms_render_region feincms_page "concert_details" request %}
            </div>
            <div class="concert_rightCol">
                <h2>{{ feincms_page.content_subtitle }}</h2>
                <span class="yellowBox" id="season-description">
                    {% feincms_render_region feincms_page "concert_abstract" request %}
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column grid_738 whitebox">
            {% feincms_render_region feincms_page "archive_detail_table" request %}
        </div>
    </div>
{% endblock %}
