{% extends 'site_base.html' %}
{% load feincms_tags %}
<!-- TODO (Ipsheeta) add extra media tags http://www.feinheit.ch/media/labs/feincms/contenttypes.html#extra-media-for-content-types -->
<!-- TODO (Julian) this page needs a main content that pulls from what ipsheeta is building. -->
{% block extra_head %}
    {{ feincms_page.content.media }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/generic.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/fancybox/jquery.fancybox.pack.js"></script>
{% endblock %}

{% block style %}background: white;{% endblock %}
{% block main_content %}
    <div class="row">
        <div class="column grid_738 whitebox">
            <h1>{{ feincms_page.title }}</h1>
            {% feincms_render_region feincms_page "content" request %}
        </div>
    </div>
{% endblock %}
