{% extends 'site_base.html' %}
{% load feincms_tags %}
{% block extra_head %}
    {{ feincms_page.content.media }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/generic.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/fancybox/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/generic.js"></script>
{% endblock %}
{% block style %}background: white;{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block main_content %}
    <div class="content-header">
            {% feincms_render_region feincms_page "content_header" request %}
    </div>
    <div class="row content-body">
        <div class="column">
            <div class="column left leftimage">
                {% feincms_render_region feincms_page "left_side_image" request %}
            </div>
            <div class="column grid_400 right">
                {% feincms_render_region feincms_page "right_column_text" request %}
            </div>
        </div>
    </div>
{% endblock %}