{% extends "site_base.html" %}
{% load feincms_page_tags feincms_tags %}
<!-- TODO (julian) needs to be made into a content type/ django app -->
<!-- TODO (julian) point the headers at the appropriate distro of the source -->
{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/home.css" />
    <script src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.latest.js"></script>
    <script>
    $(document).ready(function() {
        $('.slideshow').cycle({
            fx: 'fade'
        });
    });
    </script>
{% endblock %}
{% block breadcrumbs %}{%  endblock %}
{% block main_content %}
    <div class="slideshow">
        {% feincms_render_region feincms_page "rotator_images" request %}
    </div>
    <div id="feature-boxes">
        {% feincms_render_region feincms_page "featured_area" request %}
    </div><!--feature-boxes-->
{% endblock %}
