{% extends 'generic.html' %}
{% load feincms_tags %}
{% block extra_head %}
<style type="text/css">
    .wide-text{margin-left:20px;}
    .grid_200{width:230px;}
    .grid_400{width:445px;margin: 0;padding: 0}
    #main-content>p,
    .content_body{color:#666;line-height:1.8em;padding:0 20px 15px 20px;}
    .spread-image{margin:0 0 10px 0}
    .left{margin:0 20px 0 0;float:left}
    .leftimage{max-width:230px}
    .clear{float:none;}
</style>
{% endblock %}

{% block style %}background: white;{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block main_content %}
    <h1 class='parenth1'>{{ feincms_page.title }}</h1>
            <h2>{{ feincms_page.content_subtitle }}</h2>
            {% feincms_render_region feincms_page "content_header" request %}
    <div class="row content_body">
        <div class="column">
            <div class="column left leftimage">
                {% feincms_render_region feincms_page "left_side_image" request %}
            </div>
            <div class="column grid_400">
                {% feincms_render_region feincms_page "right_column_text" request %}
            </div>
        </div>
    </div>
{% endblock %}