{% load repertoire_tags %}
{% load highlight %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/search.css" />
{% endblock %}
{% block main_content %}
    <h1 id="h1_search">Search</h1>

    <form  id="search_form" method="get" action=".">
        {%  for field in form %}
            <div class="fieldWrapper">
            {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}

{#        <form id="searchForm">#}
{#            <ul id="search-list">#}
{#            {{ form.as_ul }}#}
{#                    <li>&nbsp;</li>#}
{#                    <li>#}
{#                        <input id="submit-btn" type="submit" value="Search">#}
{#                    </li>#}
{#                </ul>#}
{#            </form>#}
        </form>

        {% if query %}
            <div class="search_result_container">
                <span class="search_result_left"><h1>Your Search Results for "<span class="highlighted">{{ query }}</span>"</h1></span>
                <span class="search_result_right page_count">Result <span class="highlighted">{{ page.start_index }}</span>-<span class="highlighted">{{ page.end_index }}</span> of <span class="highlighted">{{ paginator.count }}</span></span>       
            </div>
            <hr>
            {% for result in page.object_list %}
                <p>
                    <div class="search_result_container">
                        <span class="search_result_left search_result_title"><a class="search_background" href="{{ result.object.get_absolute_url }}">{% highlight result.object with query  %}</a></span>
                        <span class="search_result_right">{{ result.object|to_class_name }}</span>
                    </div>
                    <div class="search_result_content">
                        {% if result.object|to_class_name == "Content" %}
                            {% for ct in result.object.richtextcontent_set.all %}
                                {% highlight ct.text with query   %}
                            {% endfor %}
                        {% endif %}
                        {% if result.object.description %}
                            {% highlight result.object.description with query %}
                        {% endif %}
                        {% if result.object.bio %}
                            {% highlight result.object.bio with query %}
                        {% endif %}
                    </div>

                    <div class="result_link"><a href="{{ result.object.get_absolute_url }}">www.cyorchestra.org{{ result.object.get_absolute_url }}</a></div>
                </p>
            {% empty %}
                <p id="noResults">No results found.</p>
            {% endfor %}
            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}

{% block sidebar %}

{% endblock %}