{% load feincms_tags %}
{% include 'site_base.html' %}

<!-- TODO (Ipsheeta) add extra media tags http://www.feinheit.ch/media/labs/feincms/contenttypes.html#extra-media-for-content-types -->

{% block main_content %}
    <h1>New Works</h1>
    <div class="row">
        <div class="column grid_3" id="LizaGrossman"></div>
            <div class="row">
                <div class="column grid_3" id="image"></div>
            </div>
            <div class="row">
                <div class ="column grid_3" id="time"></div>
            </div>
        <div class="column grid_6">
            {% feincms_render_content %}
            {% feincms_render_region feincms_page "yellow_overview" request %}
        </div>
    </div>
    <div class="row">
        <div class="column grid_9" id="white_details">
            {% feincms_render_region feincms_page "white_details" request %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <h2>Season 17</h2>
    <div class="row">
        <div class="column grid_3" id="sidebar_details">
            {% feincms_render_region feincms_page "black_sidebar" request %}
        </div>
    </div>
{% endblock %}