{% if upcoming %}
    {% block concert_abstract %}
        <h1 class='parenth1'>{{ upcoming.series.title }}</h1>
        <div class="row">
            <div class="column grid_728 yellowbox">
                <div class="concert_leftCol">
                    <div class="artist_plate">
                        <p>
                            <span class="artist_name">Liza Grossman</span>,
                            <span class="artist_title">Director</span>&nbsp;&gt;
                        </p>
                    </div>
                    <div class="event_details">
                        <ul>
                        {% if upcoming.poster %}<a href="{{ upcoming.poster }}" rel="lb"> <img src="{{ upcoming.poster }}"></a>{% endif %}
                            {% if upcoming.date_time %}
                            <li class="concert-date">{{ upcoming.date_time|date }}</li>
                            <li class="concert-time">{{ upcoming.date_time|time }}</li>
                        {% else %}
                            <li class="concert-date">{{ upcoming.rough_date }}</li>
                        {% endif %}

                            <li class="concert-loc">
                                <p>{{ upcoming.venue.name }}</p>
                                <p>{{ upcoming.venue.address1 }}</p>
                                {% if upcoming.venue.address2 %}
                                    <p>{{ upcoming.venue.address2 }}</p>
                                {% endif %}
                                <p>{{ upcoming.venue.city }}, {{ upcoming.venue.state }} {{ upcoming.venue.zip_code }}</p>
                            </li>
                        </ul>
                        <button id="ticket-button" value="get-tickets">
                            {# TODO (julian) we need to be able to link to a paypal screen #}
                            <a href="http://www2.cyorchestra.org/tickets">Get Tickets</a>
                        </button>
                    </div>
                </div>
                <div class="concert_rightCol">
                    <h2>Upcoming</h2>
                    <!-- (jordan): adding concert title for now, needs to be styled -->
                    <h3>{{ upcoming.title }}</h3>
                <span class="yellowBox" id="season-description">
                                    {{ upcoming.description|safe }}
                </span>
                </div>
            </div>
        </div>
    {% endblock concert_abstract %}
{% endif %}
{% block page_content %}
    {% include 'repertoire/_concert_detail.html' %}
{% endblock %}
