<!doctype html>
<html>
<head>
</head>
<body>
	<div id="runner">FTW Suite</div>
	<div id="console">
		<ul>
			<li id="project_folder">CYO</li>
			<li id="todo">To Do</li>
			<li id="calendar">Calendar</li>
			<li id="links">Links</li>
			<li id="attachments">Attachments</li>
			<li id="People">People</li>
			<li id="email">Email</li>
			<li id="custom">Custom</li>
		</ul>
	</div>
	<div id="alterbox">
		<p>! 5 days to sprint deadline</p>
		<p>2 new emails</p>
	</div>
	<div id="progressbox">
		<p class="prog_text">Contracted</p>
		<p class="prog_text">Development</p>
		<p class="prog_text">Delivery</p>
		<p class="prog_text">Lesson Learned</p>
	</div>
</body>