<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/grid.css" />
    <title></title>
</head>
<body>

<div class="row">
    <div class="column grid_250" id="logo">logo</div>
    <div class="column grid_750" id="navigation">
        {% block navigation %}
            navigation
        {% endblock %}
    </div>
  <!--  <div class="column grid_60" id="search bar"></div>-->
</div>

<div class="row">
    <div class="column grid_738" id="main_content">
        {% block main_content %}
            main content
        {% endblock %}
    </div>
    <div class="column grid_242" id="sidebar">
        {% block sidebar %}
            sidebar
        {% endblock %}
    </div></div>

<div class="row">
    <div class="column grid_1000 id="footer">
        {% block footer %}
            footer
        {% endblock %}
    </div></div>

</body>
</html>