{% load applicationcontent_tags feincms_tags feincms_page_tags %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/grid.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/stylin.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/home.css" />

    {{ feincms_page.content.media }}
    {% block extra_head %}
    {% endblock %}
    <title>{{ feincms_page.title }}</title>

</head>
<body>



<div class="row">
    <div class="column grid_250" id="logo">logo</div>
    <div class="column grid_750" id="navigation">
        {% block navigation %}
            {% feincms_navigation of feincms_page as sublevel level=1,depth=1 %}
            <ul>
                {% for p in sublevel %}
                    <li><a href="{{ p.get_absolute_url }}" class="hover-yellow">{{ p.title }}</a></li>
                {% endfor %}
                <form name="input" action="some_link" method="post">
                    <input type="text" class="box" name="some_name" value="Search" />
                </form>
            </ul>
        {% endblock %}
    </div>
    <!--  <div class="column grid_60" id="search bar"></div>-->
</div>

<div class="row">
    <div class="column grid_738" id="main_content">
        {% block main_content %}
            <div class="slideshow"><img src="{{ STATIC_URL }}images/slider2.jpg" /></div>
            <div id="feature_boxes">
                <ul>
                    <li><div class="feature_box">
                        <div class="feature_header">
                            <p>Feature Boxes</p>
                        </div>
                        <img src="{{ STATIC_URL }}images/Featurebox2.jpg" alt="" />
                        <div class="feature_footer">
                            <p>December 2011</p>
                            <br />
                            <p>New Works Title Here!</p>
                            <p>TICKETS <span style="color: #FFDB01;"> @ </span></p>
                        </div>

                    </div></li>
                    <li><div class="feature_box" style="margin-left: 10px; margin-right: 10px;">
                        <div class="feature_header">
                            <p>Feature Boxes</p>
                        </div>
                        <img src="{{ STATIC_URL }}images/Featurebox3.jpg" alt="" />
                        <div class="feature_footer">
                            <p>March 2012</p>
                            <br />
                            <p>Tunes for Toons Two!</p>
                            <p>TICKETS <span style="color: #FFDB01;"> > </span></p>
                        </div>
                    </div></li>
                    <li><div class="feature_box">
                        <div class="feature_header">
                            <p>Feature Boxes</p>
                        </div>
                        <img src="{{ STATIC_URL }}images/Featurebox1.jpg" alt="" />
                        <div class="feature_footer">
                            <p>Jefferson Starship</p>
                            <br />
                            <p>Last June, CYO shared the Nautica stage with Jefferson Starship.
                                <span style="color: #FFDB01;"> > </span>
                            </p>
                        </div>
                    </div></li>
                </ul>
            </div>
        {% endblock %}
    </div>
    <div class="column grid_242" id="sidebar">
        {% block sidebar %}
            sidebar
        {% endblock %}
    </div></div>

<div class="row">
    <div class="column grid_1000" id="footer">
        {% block footer %}
            <ul>
                <li>©2011-2012 Contemporsry Youth Orchestra |</li>
                <li>(216) 321-3525 |</li>
                <li><a href="#" class="hover-yellow">Contact</a> |</li>
                <li><a href="#" class="hover-yellow">Search</a> |</li>
            </ul>
        {% endblock %}
    </div></div>

</body>
</html>
