{% load applicationcontent_tags feincms_tags feincms_page_tags %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ feincms_page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/grid.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    {% block extra_head %}
    {% endblock %}
    {{ feincms_page.content.media }}
</head>
<body>
<div class="row">
    <a href="/"><div class="column grid_250" id="logo"></div></a>
    <div class="column grid_750" id="navigation">
        <navigation>
            {% block navigation %}
                {% feincms_navigation of feincms_page as sublevel level=1,depth=1 %}
                    <ul>
                        {% for p in sublevel %}
                            <li><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></li>
                        {% endfor %}
                    </ul>
            {% endblock %}
        </navigation>
        {% block search_box %}
            <form name="input" action="some_link" method="post">
                <input type="text" class="box" name="some_name" value="Search" />
            </form>
        {% endblock %}
    </div>
</div>

<div class="row">
    <div class="column grid_738" id="main_content" style="{% block style %}{% endblock %}">
        {% block main_content %}
        {% endblock %}
    </div>
    <div class="column grid_242" id="sidebar">
        {%  block sidebar-common %}
            <span id="season">season</span><span id="season-number">17</span></h2>
        <div class="row">
        {% endblock %}
             <div class="column grid_242" id="sidebar-details">
        {% block sidebar %}
            {% feincms_render_region feincms_page "sidebar" request %}
        {% endblock %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="column grid_1000" id="footer">
        {% block footer %}
            <ul>
                <li>©2011-2012 Contemporary Youth Orchestra |&nbsp;</li>
                <li>(216) 321-3525 |&nbsp;</li>
                <li><a href="#" class="hover-yellow">Contact</a> |&nbsp;</li>
                <li><a href="#" class="hover-yellow">Search</a></li>
                <li><a href="#" class="hover-yellow"><a href="http://facebook.com"><img src="{{ STATIC_URL }}images/social_facebook.png"></a></li>
                <li><a href="#" class="hover-yellow"><a href="http://twitter.com"><img src="{{ STATIC_URL }}images/social_twitter.png"></a></li>
                <li><a href="#" class="hover-yellow"><a href="http://youtube.com"><img src="{{ STATIC_URL }}images/social_youtube.png"></a></li>
            </ul>
        {% endblock %}
    {% block extend-footer %}{%  endblock %}
    </div></div>

</body>
</html>