
@font-face {font-family: Font1; src: url("/static/fonts/UniversLTStd-BoldCn.otf")} /* This doesnt display right maybe change to ttf */
@font-face {font-family: Font2; src: url("/static/fonts/ARIALNB.ttf")}

h3 {
  /*  margin-bottom: 20px; */
    font-family: Impact, Arial, sans-serif;
    font-size: 38px;
    font-weight: bold;
    color: white;
}

.concert_tabs {
    background: #FFDB01;
}
.concert_tabs ul {
    margin:  0;
}
.concert_tabs li {
    font-family: Arial Narrow, san-serif;
    font-weight: bold;
    list-style: none;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right-color: white;
    border-right-style: solid;
    border-right-width: 1px;
}
#concert_title {
    color: black;
    font-family: Arial Narrow, san-serif;
    font-weight: lighter;
}

#concert {
    background-color: #FFDB01;
}

div#concert p {
    color: black;
    padding-left: 20px;
}

#concert2 {
    background-color: yellow;
}

