@import url(../js/fancybox/jquery.fancybox.css);
.grid_200{width:230px}
.grid_300{width:336px;margin:0;padding:0;display:inline-block}
.grid_400{width:445px;margin:0;padding:0;display:inline-block}
.spread-image{margin:0 0 10px}
.left{float:left;margin:0 20px 0 0}
.leftimage{max-width:230px}
.clear{float:none}
.main-content{padding-bottom:20px}
.main-content h2,
.main-content h3 {font-family:arial, sans-serif;}
.main-content h2{font-size:1.5em}
.main-content h3{font-size:1em;color:#3CF}
.main-content p{padding:.5em 0 .7em}
.main-content>p,.content_body{color:#666;line-height:1.8em;padding:0 20px 15px}
div.single{margin:0 20px 20px 20px;display:block}
div.single p, div.single a{padding:.5em 0 .7em;display:block;font-size:.9em}
.sm{font-size:.9em;color:#333}
.sm h2,.sm h3{color:#000;margin:10px 0 5px}
.yellow{font-weight:100;color:#333;background:#FFDB01;min-height:200px}
.yellow h2 {font-family:'Univers', 'Open Sans Condensed', sans-serif;font-weight:400;color:#fff;font-size:2em;}
.yellow h3{font-size:1em;color:#000;margin:.5em 0}
.yellow div ul{text-align:left;list-style:none;margin:.2em auto;padding:.1em 5px .5em}
.yellow .left{margin:12px 0 0 20px }
.yellow .right{margin:12px 0;}