#main_content {
    min-height: 200px;
}
.concert_tabs{
    display: none;
}
.concert_tabs{
    display: none;
}
#map1{
    position:absolute;
    width:240px;
    height:25px;
    top:125px;
    left:0px;
    display:block;
    border: 1px hidden;
    z-index:99;
}
#map1:hover{
    border: 1px solid #fff;
}
.slideover{
    position:relative;
}
.slideshow img{
    z-index:-1;
}
#feature-boxes{
    width: inherit;
}
#feature-boxes a{
    color:#111;
}
#feature-boxes a:hover{
    color:#777;
}
#feature-boxes > div:first-child {
    margin-left:0;
}
#feature-boxes > div:last-child {
    margin-right:0;
}
#feature-boxes > div {
    min-height: 280px;
    width: 238px;
    position: relative;
    top: -40px;
    z-index: 20;
    background: #1A1A1A;
    float:left;
    margin: 0 5px;
}
#feature-boxes div h2{
    background: #FFDB01;
    padding: .2em .5em;
    font-size: 1.2em;
}
#feature-boxes ul{
    list-style: none;
    margin: .5em;
    min-height: 60px;
    display: block;
}
.fimage img{
    width:100%;
}
.fimage{
    height: 140px;
    overflow: hidden;
}
#feature-boxes div ul li:last-child {
    color: white;
}

#feature-boxes div ul li:first-child {
    color: #FFDB01;
    font-weight: bold;
}
.ticket-button{
    margin: 1em 10px;
    vertical-align: baseline;
    cursor: pointer; 
}
  
.ticket-button:hover,  
.ticket-button:focus {  
    color: #FFDB01;
}  
  
.ticket-button:hover span,  
.ticket-button:focus span {  
}  
  
.ticket-button:focus {  
    margin-top: 1px;  
}  
  
.ticket-button::-moz-focus-inner /* fixing evil default firefox padding */ {  
    padding:0;  
    border:none;  
} 