#main_content {
    min-height: 200px;
}
#feature-boxes{
    width: inherit;
}
#feature-boxes div:first-child {
    margin-left:0;
}
#feature-boxes div:last-child {
    margin-right:0;
}
#feature-boxes div {
    min-height: 240px;
    width: 239px;
    position: relative;
    top: -40px;
    z-index: 20;
    background: #1A1A1A;
    float:left;
    margin: 0 5px;
}
#feature-boxes div h2{
    background: #FFDB01;
    padding: .2em .5em;
    font-size: 1.2em;
}
#feature-boxes ul{
    list-style: none;
    margin:.5em;
}
#feature-boxes div img{
    width: 100%;
}
#feature-boxes div ul li:last-child {
    color: white;
}

#feature-boxes div ul li:first-child {
    color: #FFDB01;
    font-weight: bold;
}
.ticket-button{
    margin: .2em .5em;
    vertical-align: bottom;
}