
@font-face {font-family: Font1; src: url("/static/fonts/UniversLTStd-BoldCn.otf")} /* This doesnt display right maybe change to ttf */
@font-face {font-family: Font2; src: url("/static/fonts/ARIALNB.ttf")}

#logo {
    background: url("/static/images/Header.png") no-repeat;
    height: 100px;
}

#navigation {
    height: 100px;
    font-family: Font1, Gadget, sans-serif;
	font-size: 13.75px;
    color: #666666;
}

#sidebar {
    background: url("/static/images/season.png") no-repeat;
}

#footer {
    height: 100px;
    font-family: Font1, Gadget, sans-serif;
    font-size: 13.75px;
    color: #666666;
}